{% extends 'trang-chu.html' %}
{% load static %}

{% block title %}
Đăng nhập
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/tai-khoan.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center mt-2 mb-4">Đăng nhập</h1>
<div class="container">
  <center>
    <form method="post" class="form-account">
      {% csrf_token %}
      <label for="username">Tên đăng nhập:</label>
      <input id="username" name="username" type="text"> 
      <br>
      <label for="password">Mật khẩu:</label>
      <input type="password" name="password" id="password">
      <br>
      <br>
      <button class="btn btn-account">Đăng nhập</button>
    </form>
  </center>
</div>
{% endblock %}